<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ali.guessthepicture"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BatangActivity"
            android:label="@string/title_activity_batang" >
        </activity>
        <activity
            android:name=".Belasan"
            android:label="@string/title_activity_belasan" >
        </activity>
        <activity
            android:name=".DarahActivity"
            android:label="@string/title_activity_darah" >
        </activity>
        <activity
            android:name=".JembatanActivity"
            android:label="@string/title_activity_jembatan" >
        </activity>
        <activity
            android:name=".KameraActivity"
            android:label="@string/title_activity_kamera" >
        </activity>
        <activity
            android:name=".KhususActivity"
            android:label="@string/title_activity_khusus" >
        </activity>
        <activity
            android:name=".SedotActivity"
            android:label="@string/title_activity_sedot" >
        </activity>
        <activity
            android:name=".SolidaritasActivity"
            android:label="@string/title_activity_solidaritas" >
        </activity>
        <activity
            android:name=".TekoActivity"
            android:label="@string/title_activity_teko" >
        </activity>
        <activity
            android:name=".TuangActivity"
            android:label="@string/title_activity_tuang" >
        </activity>
        <activity
            android:name=".Tamat"
            android:label="@string/title_activity_tamat" >
        </activity>
    </application>

</manifest>
